<a href="https://colab.research.google.com/github/afiya-farjana/Machine-Learning-Lab/blob/main/AI_Lab_Final/AI_Lab_ProblemSet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
# Reading the file
data = pd.read_csv('/content/drive/MyDrive/bank-data/bank-full.csv', delimiter=';')
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [24]:
data.shape

(45211, 17)

In [25]:
# replacing categorical features with numerical values
data['job'] = data['job'].map({'admin.':0, 'blue-collar':1, 'entrepreneur':2, 'housemaid':3, 'management':4,
                               'retired':5, 'self-employed':6, 'services':7, 'student':8, 'technician':9,
                               'unemployed':10, 'unknown':11})
data['marital'] = data['marital'].map({'divorced':0, 'married':1, 'single':2, 'unknown':3})
data['education'] = data['education'].map({'primary':0, 'secondary':1, 'tertiary':2, 'unknown':3})
data['default'] = data['default'].map({'no':0, 'yes':1, 'unknown':2})
data['housing'] = data['housing'].map({'no':0, 'yes':1, 'unknown':2})
data['loan'] = data['loan'].map({'no':0, 'yes':1, 'unknown':2})
data['contact'] = data['contact'].map({'cellular':0, 'telephone':1, 'unknown':2})
data['month'] = data['month'].map({'jan':0, 'feb':1, 'mar':2, 'apr':3, 'may':4, 'jun':5, 
                                   'jul':6, 'aug':7, 'sep':8, 'oct':9, 'nov':10, 'dec':11})
data['poutcome'] = data['poutcome'].map({'failure':0, 'success':1, 'other':2, 'unknown':3})
data['y'] = data['y'].map({'no':0, 'yes':1})

data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,4,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,4,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,4,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,4,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,4,198,1,-1,0,3,0

In [27]:
# separating features and target
X = data.drop('y', axis=1)
y = data['y']

In [28]:
# splitting data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [29]:
# scaling the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
data_feat = pd.DataFrame(X_test,columns=data.columns[:-1])
data_feat.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,0.100767,-1.015319,-0.281056,-1.636521,-0.136035,0.362350,0.892293,-0.435537,1.521406,-0.095679,-0.476213,0.013564,0.391184,-0.410057,-0.299354,0.439822
1,-0.370334,1.429256,-0.281056,-0.295793,-0.136035,0.263823,-1.120709,-0.435537,1.521406,0.505679,-0.061419,-0.355267,-0.245081,-0.410057,-0.299354,0.439822
2,-0.841435,-1.320891,-0.281056,-0.295793,-0.136035,-0.144906,0.892293,-0.435537,-0.710817,0.144864,-0.891007,2.176078,0.391184,-0.410057,-0.299354,0.439822
3,1.137190,-1.015319,-0.281056,-1.636521,-0.136035,-0.341006,-1.120709,-0.435537,-0.710817,1.467853,0.353375,0.502750,0.073052,1.409683,0.225939,-1.600945
4,-0.841435,1.429256,1.362436,1.044935,-0.136035,-0.356580,0.892293,-0.435537,1.521406,-1.659211,-0.061419,-0.293148,0.709316,-0.410057,-0.299354,0.439822

In [30]:
# Creating and training the classifier using 'sigmoid' kernel SVM
classifier = SVC(kernel='sigmoid', random_state=42)
classifier.fit(X_train, y_train)

SVC(kernel='sigmoid', random_state=42)

In [31]:
y_pred = classifier.predict(X_test)

In [32]:
# calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8338985549985255

In [33]:
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)
print()

Confusion Matrix:
[[10918  1095]
 [ 1158   393]]

In [34]:
cr = classification_report(y_test, y_pred)
print("Classification Report:")
print(cr)

Classification Report:
              precision    recall  f1-score   support

           0       0.90      0.91      0.91     12013
           1       0.26      0.25      0.26      1551

    accuracy                           0.83     13564
   macro avg       0.58      0.58      0.58     13564
weighted avg       0.83      0.83      0.83     13564